@import "tailwindcss";

@layer utilities {
  .dir-rtl {
    direction: rtl;
  }
  .dir-ltr {
    direction: ltr;
  }

  /* Custom High Density WhatsApp Dark Scrollbars */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #374045;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00a884;
  }
}

::selection {
  background-color: #00a884;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b141a;
  color: #e9edef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
